# ATP Ranking and Height

I have (infrequently) watched tennis for the last 10 -15 years and one of the patterns I have noticed is that the top tennis players are getting taller over time. 

In this notebook I wanted to explore if this casual observation is actually true. I will also try to see if there is any other height related pattern in the Men's tennis rankings. 

A secondary aim is to get comfortable with various visualization libraries for python. And hopefully create a deployable webapp for those visualization!

## Loading Data

Let's load the downloaded data and convert it into a dataframe that contains the Top 100 tennis players (for each week the rankings are released), and the following information about them:
1. Date (in python compatible format)
2. Ranking
3. Points
4. Player id
5. Player name (first and last combined)
6. Height (if available)

In [4]:
from pathlib import Path
data_path = Path('.') / 'data'

In [5]:
data_path

PosixPath('data')

In [6]:
import pandas as pd

In [9]:
ranking_00_df = pd.read_csv(data_path / "atp_rankings_00s.csv", parse_dates=['ranking_date'])
ranking_00_df.head(5)

  ranking_date  rank  player  points
0   2000-01-10     1  101736  4135.0
1   2000-01-10     2  102338  2915.0
2   2000-01-10     3  101948  2419.0
3   2000-01-10     4  103017  2184.0
4   2000-01-10     5  102856  2169.0

In [11]:
ranking_00_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920907 entries, 0 to 920906
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ranking_date  920907 non-null  datetime64[ns]
 1   rank          920907 non-null  int64
 2   player        920907 non-null  int64
 3   points        920391 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 28.1 MB

In [12]:
ranking_90_df = pd.read_csv(data_path / "atp_rankings_90s.csv", parse_dates=['ranking_date'])
ranking_90_df.head(5)

  ranking_date  rank  player  points
0   1990-01-01     1  100656  2913.0
1   1990-01-01     2  101414  2279.0
2   1990-01-01     3  101222  2111.0
3   1990-01-01     4  100763  1398.0
4   1990-01-01     5  100581  1354.0

In [13]:
ranking_10_df = pd.read_csv(data_path / "atp_rankings_10s.csv", parse_dates=['ranking_date'])
ranking_10_df.head(5)

  ranking_date  rank  player   points
0   2010-01-04     1  103819  10550.0
1   2010-01-04     2  104745   9205.0
2   2010-01-04     3  104925   8310.0
3   2010-01-04     4  104918   7030.0
4   2010-01-04     5  105223   6785.0

In [15]:
ranking_20_df = pd.read_csv(data_path / "atp_rankings_20s.csv", parse_dates=['ranking_date'])
ranking_20_df.head(5)

  ranking_date  rank  player  points
0   2020-01-06     1  104745    9985
1   2020-01-06     2  104925    9055
2   2020-01-06     3  103819    6590
3   2020-01-06     4  106233    5825
4   2020-01-06     5  106421    5705

In [16]:
ranking_21_df = pd.read_csv(data_path / "atp_rankings_current.csv", parse_dates=['ranking_date'])
ranking_21_df.head(5)

  ranking_date  rank  player  points
0   2022-01-03     1  104925   11540
1   2022-01-03     2  106421    8640
2   2022-01-03     3  100644    7840
3   2022-01-03     4  126774    6540
4   2022-01-03     5  126094    5150